@import url('var.css');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Crete Round", serif;
}[role=button]{
  cursor:pointer;
}.mob-nav-b {
  display: none !important;
}p {
  line-height: 1.7em;
  font-weight: 500;
  color: rgba(0,0,0,.5);
}body {
  background-color: #fafafa;
} .page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10em;
  background-color: #f9f9fb;
  padding: 2em;
} .page-header > div a, .page-header > div span {
  color: rgba(0,0,0,.5);
  font-weight: 500;
  text-transform: capitalize;
}.page-header > div {
  padding-top: .5em;
}.page-header > .custom-header {
  text-transform: capitalize;
}
.i-fit{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
  .custom-header {
  text-align: center;
  font-size: 26px;
  margin-top: 1em;
  font-weight: 500;
  text-shadow: 5px 5px 15px rgba(0,0,0,.5);
}a {
  text-decoration: none;
  color: black;
}.main-logo {
  font-size: 24px;
  font-weight: 500;
}.main-logo > span{
  color: var(--priCol);
}.custom-cont {
  padding-left: 18em;
  padding-right: 18em;
} .header-cont {
  background-color: white;
  display: flex;
  flex-direction: column;
} .main-nav {
  background-color: white;
  position: sticky;
  z-index: 100;
  top: 0;
} .header-cont ul,.main-nav ul {
  display: flex;
  list-style: none;
  gap: 1.5em;
  font-weight:  00;
} .header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: .5px solid rgba(0,0,0,.1);
}.header-contact {
  display: flex;
  gap: 5em;
} .header-contact > span {
  display: flex;
  justify-content: center;
  align-items: center;
} 
.header-contact > span >span {
  font-size: 20px;
  margin-right: .5em;
  color: var(--priCol);
} .main-nav > ul > li > a,.main-nav > ul > li > span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  transition: all .4s ease-in-out;
}.main-nav > ul > li > a::after,.main-nav > ul > li > span::after {
  content: '';
  position: absolute;
  height: 4px;
  border-radius: 15px;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--priCol);
  transition: all .35s ease-in-out;
}.drop-cont {
  position: relative;
} .main-nav a:hover::after,.main-nav > ul > li > span:hover::after {
  width: 100%;
} .main-nav a.active::after,.main-nav > ul > li > span.active::after {
  width: 100%;
} .main-nav > ul > li > a span {
  display: flex;
  color: var(--priCol);
  margin-top: 5px;
  font-size: 22px;
} .nav-drop {
  position: absolute;
  z-index: -1;
  display: none;
  gap: 6em;
  opacity: 0;
  top: 4.1em;
  background-color: #fafafa;
  box-shadow: 5px 10px 25px rgba(0,0,0,.2);
  padding: 20px;
  transition: all .2s ease-in-out;
  border-radius: 15px;
}.drop-cont:hover .nav-drop {
  opacity: 1;
  z-index: 10;
  display: flex;

} .nav-drop ul {
  padding: 1em;
  width: 10em;
  display: flex;
  flex-direction: column;
} .nav-drop ul li {
  list-style: disc;
}.li-head {
  list-style-type: none !important;
  font-size: 20px;
  color: var(--priCol);
  margin-left: -1em;
}.nav-drop li::marker {
  color: var(--priCol);
} .prod-p-cont {
  display: flex;
  flex-direction: column;
} .p-loader * {
  background-color: rgba(42,42,42,1);
  animation: pLoader .5s linear 2s infinite alternate;
} .p-loader > .prod-title {
  height: 1em;
  width: 100%;
  border-radius: 15px;
} .p-loader .custom-btn {
  height: 2em;
} .p-loader >.prod-info {
  background-color: rgba(0,0,0,0) !important;
} .p-loader .custom-btn {
  background-color: rgba(42,42,42,1);
}

@keyframes pLoader {
  to {
    background-color: rgba(42,42,42,.8);
  }
}


/*============== Banner ==================== */
.banner-cont {
  width: 100%;
  height: 25em;
  background-image: url('b.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* ==== Category Section ==== */
.category-cont > div {
  display: grid;
  padding-top: 2em;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-wrap: wrap; */
}.category-cont > div > div {
  position: relative;
  border-radius: 15px;
  height: 20em;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  /* transition: all .35s ease-in-out; */
  box-shadow: 10px 10px 15px rgba(0,0,0,.35);
}.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0,0,0,.35);
  border-radius: 15px;
} .category-cont > div > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
} .category-cont > div > div:nth-child(2) {
  background: url('https://www.kcrw.com/news/shows/greater-la/music-anna-may-wong-lapl/ukulele-festival/@@images/rectangular_image/page-header?v=1695941571.33');
} .category-cont > div > div:nth-child(3) {
  background: url('https://sage-prod.nyc3.cdn.digitaloceanspaces.com/media/images/Piano-Keyboard.2e16d0ba.fill-40000x30000.jpg');
} .category-cont > div > div:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 4;
  background: url('https://blog.sweelee.com/uploads/2021/06/your-guide-to-buying-a-cajon-banner@1200x630-1024x538.jpg');
} .category-cont > div > div > h3.custom-header {
  width: fit-content;
  margin-top: 6em;
  margin-left: 4em;
  font-size: 22px;
  color: white;
  position: relative;
  z-index: 15;
}

/* ==== about us ==== */
.about-cont {
  background-color: #f6f6f7;
  margin-top: 4em;
  /* border: 1px solid black; */
  height: 35em;
  margin-bottom: 25em;

} .about-cont .custom-header {
  padding: 1.5em 0 .5em 0;
  width: fit-content;
  font-size: 48px;
} .about-desc > p {
  width: 45%;
  word-wrap: break-word;
  font-weight: 200;
} .about-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
  margin-top: 5em;
  padding-left: 12em;
  padding-right: 12em;

} .about-gallery >div {
  overflow: hidden;
  height: 25em;
  border-radius: 15px;
} .about-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} .more-img{
  grid-column-start: 1;
  grid-column-end: 4;
  height: fit-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
} .custom-btn {
  border-radius: 5px;
  background-color: var(--priCol);
  font-weight: 600;
  color: white;
  border: none;
  padding: 15px 25px;
  transition: all .35s ease-in-out;
} .custom-btn:hover {
  opacity: .8;
}
/* ==== Shop cont ==== */
.main-shop-cont {
  padding-bottom: 4em;
}
.shop-cont > p {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
} .tab-btn-cont {
  display: flex;
  justify-content: center;
  gap: .5em;
} .tab-btn-cont > button {
  padding: 10px 40px;
  background-color: white;
  border: 1px solid var(--priCol);
  color: var(--priCol);
  transition: all .25s ease-in-out;
} .tab-btn-cont > button.active {
  background-color: var(--priCol);
  color: white;
} .tab-btn-cont > button:hover {
  cursor: pointer;
  background-color: var(--priCol);
  color: white;
} .prod-cont {
  padding-top: 2em;
  padding-left: 12em;
  padding-right: 12em;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} .thumb-cont {
  width: 100%;
  height: 25em;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
} .prod-title {
  display: flex;
  flex-direction: column;
  gap: .25em;
  margin-top: 1em;
  margin-bottom: 1em;
} .prod-title > span:nth-child(2) {
  font-weight: bolder;
} .prod-info {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-self: flex-end;
} .prod-info > .custom-btn {
  padding: .6em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==== Footer cont ==== */
.footer-cont {
  background-color: #2a2a2a;
  /* margin-top: 4em; */
  padding-bottom: 2em;
} .footer-cont .main-logo {
  color: white;
}.footer-cont > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  border-bottom: .5px dotted var(--priCol);
}.footer-cont > div:nth-child(1) a{
  color: var(--priCol);
  font-size: 25px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}.footer-bottom {
  display: flex;
  justify-content: space-between;
}.footer-bottom ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
} .footer-bottom ul {
  width: fit-content;
  padding-left: 1em;
}.footer-bottom ul li a{
  padding: .5em 0;
}  .footer-links li::marker {
  color: var(--priCol);
} .footer-bottom li.li-head {
  color: white;
  margin-top: 2em;
  margin-bottom: 1em;
} .footer-bottom a {
  color: rgba(255,255,255,.5);
} .footer-contact li{
  list-style-type: none;
  display: flex;
  align-items: center;
} .footer-contact li.li-head {
  margin-left: 0;
} .cont-icon {
  color: var(--priCol);
  margin-right: 1em;
}

/* ==== Detail ==== */
.detail-cont {
  background-color: #fff;
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
} .detail-cont > div > img {
  width: 100%;
} .detail-cont .custom-header {
  width: fit-content;
  margin: 0;
  margin-bottom: .5em;
  text-align: left;
}.detail-detail > span {
  display: block;
  margin-bottom: .5em;
  color: rgba(0,0,0,.5);
}.detail-detail > span a{
  color: var(--priCol);
}.line-break {
  display: block;
  width: 20em;
  margin: 2em 0;
  border-bottom: .5px dotted var(--priCol);
}.p-price > span {
  font-size: 22px;
} .p-price > span:nth-child(2) {
  margin-left: 25px;
  font-size: 30px;
  color: var(--priCol);
} .p-price > .custom-btn {
  margin-top: 2em;
  padding-left: 6em;
  padding-right: 6em;
}.related-cont {
  background-color: #fff;
  padding: 2em 18em 4em 18em;
  gap: 3em;
} .related-cont .thumb-cont {
  height: 20em;
}

/* ==== Products Cont (Shop Page) */
.products-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
  background: white;
}.products-cont > .prod-cont {
  grid-template-columns: 1fr 1fr 1fr;
} .products-cont > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
} .products-cont .prod-cont {
  padding: 0;
} .prod-filter {
  display: flex;
  flex-direction: column;
} .prod-filter > input {
  outline: none;
  padding: 1em;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: rgba(0,0,0,.5);
  background-color: #f9f9fb;
} .prod-filter .custom-btn {
  margin-top: 1em;
} .prod-filter ul {
  padding: 0;
  list-style-type: none;
  color: rgba(0,0,0,.7);
} .header-filter {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
} .prod-filter li {
  padding: .5em 0 .5em 1em;
  cursor: pointer;
} .prod-filter .line-break {
  width: 100%;
}

/* loader cont */
.load-cont {
  position: fixed;
  top: 0;bottom: 0;left: 0;right: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
  transition: all .35s ease-in-out;
} .load-cont-fade {
  z-index: -1;
  opacity: 0;
}

/* ==== Admin Login ==== */
.login-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  top: 0;

} .login-cont > form {
  background-color: var(--priCol);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25em;
  width: 500px;
  gap:1em;
  border-radius: 15px;
  box-shadow: 15px 15px 25px rgba(0,0,0,.2);
} .login-cont > form > input {
  padding: 1em;
  width: 75%;
  border-radius: 15px;
  outline: none;
  border: none;
} .login-cont button {
  width: 75%;
  outline: none;
  border: 1px solid var(--priCol);
  padding: .5em;
  color: var(--priCol);
  border-radius: 15px;
  background-color: #f6f6f7;
  transition: all .4s ease-in-out;
  font-size: 18px;
} .login-cont .main-logo > span {
  color: white;
} .login-cont .main-logo {
  font-size: 35px;
} .login-cont button:hover {
  border: 1px solid #f6f6f7;
  background-color: var(--priCol);
  color: white;
}

.admin-menu {
  position: fixed;
  left: 0;
  height: 100vh;
  min-width: 18em;
  background-color: var(--priCol);
  padding: 1em;
} .admin-menu > ul {
  padding: 0;
  padding-top: 1em;
  list-style: none;
} .admin-menu > ul > li {
  padding-top: 1em;
  border-bottom: 1px solid rgba(255,255,255,.6);
  font-size: 18px;
  padding-bottom: .5em;
}.admin-menu  > ul > li a{
  color: white;
} .admin-cont {
  padding-left: 20em;
  padding-top: 1em;
  padding-right: 1em;
} .admin-header {
  color: var(--priCol);
  display: flex;
  justify-content: space-between;
  align-items: center;
} .admin-header button {
  background-color: var(--priCol);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
} .list-cont table{
  width: 100%;
  margin-top: 2em;
} .list-cont th {
  text-align: left;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,.2);
}.list-cont td {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 1em 0;
}.t-cont {
  width: 10em;
  height: 10em;
  overflow: hidden;
  float:left;
  margin-right: 1em;
} .list-cont td div {
  width: 90%;
}

/* ==== Custom Modal ==== */
.modal-cont, .product-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
} .modal-cont > div , .pop-cont{
  display: flex;
  flex-direction: column;
  height: 15em;
  width: 25%;
  background-color: white;
} .modal-cont > div > div:nth-child(2) ,.pop-cont > div:nth-child(2) {
  flex-grow: 1;
} .modal-cont > div > div, .pop-cont > div{
  padding: 1em;
} .modal-cont div button, .pop-cont div button{
  float: right;
  margin-left: 1em;
  padding: 5px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
} .modal-head{
  border-bottom: 1px solid rgba(0,0,0,.2);
}.modal-foot {
  border-top: 1px solid rgba(0,0,0,.2);
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(5px);
  color: white;
  font-size: 45px;
} .loader span {
  /* transition: all .25s ease-in-out; */
  animation: loader 2s infinite;
  height: .99em;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.pop-cont{
  width: 65%;
  height: fit-content;
} .pop-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
} .pop-body input {
  padding: 1em;
  border: 1px solid rgba(0,0,0,.35);
  border-radius: 5px;
  width: 100%;
  color: rgba(0,0,0,.5);
  outline: none;
} .in-cont {
  display: block;
  width: 85%;
  position: relative;
}.in-cont > span {
  display: block;
  font-size: 12px;
  position: absolute;
  top: -.65em;
  left: 1em;
  color: rgba(0,0,0,.5);
  background-color: white;
} .g-img {
  width: 20em;
  float: left;
  margin-right: 1em;
  margin-top: 1em;
  position: relative;
} .g-img > img {
  width: 100%;
  height: auto;
} .g-img > .overlay {
  border-radius: 0;
  opacity: 0;
  color: white;
  transition: all .35s ease-in-out;
} .g-img:hover > .overlay {
  opacity: 1;
} .g-img > .overlay span {
  float: right;
  font-size: 20px;
  margin-top: .5em;
  margin-right: .5em;
} .gal-cont .g-img  {
  float: none;
  width: 100%;
  height: 20em;
  overflow: hidden;;
} .gal-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding-top:1em;
  padding-bottom:1em;
  min-height: 30em;
} .img-preview {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.35);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  transition: all .35s ease-in-out;
} .img-preview img {
  max-width: 80%;
  height: auto;
} .img-preview > span {
  position: fixed;
  right: 25px;
  top: 15px;
  color: white;
  font-size: 20px;
}.img-preview > div {
  background-color: #fff;
  width: 27em;
  min-height: 7em;
  display: flex;
  flex-direction: column;
  transition: all .35s ease-in-out;
}.img-preview > div > div {
  padding: 1em;
}.modal-body {
  flex-grow: 1;
} .modal-body ul{
  padding: 0;
  list-style: none;
}.modal-body li a {
  font-weight: 400;
  color: rgba(0,0,0,.6);
  padding: 1em;
  border-bottom: 1px solid rgba(0,0,0,.2);
  transition: all .35s ease-in-out;
  display: block;
  width: 100%;
} .modal-body li a:hover {
  background-color: rgba(0,0,0,.2);
} .modal-head > span {
  float: right;
  color: black;
}


/* ==== contact ==== */
iframe {
  width: 100%;
  height: 30em;
} 

/* === Splash Screen === */
.splash {
  display:flex;
} .s-left, .s-right {
  display: block;
  width: 0.9em;
  overflow: hidden;
}.sound {
  width: 15em;
  opacity: 0;
}