@import url('var.css');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}a {
  text-decoration: none;
  color: black;
}.main-logo {
  font-size: 24px;
  font-weight: 500;
}.main-logo > span{
  color: var(--priCol);
}.custom-cont {
  padding-left: 10em;
  padding-right: 10em;
} .header-cont {
  display: flex;
  flex-direction: column;
} .header-cont ul {
  display: flex;
  list-style: none;
  gap: 1.5em;
  font-weight:  00;
} .header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: .5px solid rgba(0,0,0,.1);
}.header-contact {
  display: flex;
  gap: 5em;
} .header-contact > span {
  display: flex;
  justify-content: center;
  align-items: center;
} 
.header-contact > span >span {
  font-size: 20px;
  margin-right: .5em;
  color: var(--priCol);
} .main-nav > ul > li > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  transition: all .4s ease-in-out;
}.main-nav > ul > li > a::after {
  content: '';
  position: absolute;
  height: 4px;
  border-radius: 15px;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--priCol);
  transition: all .35s ease-in-out;
}.drop-cont {
  position: relative;
} .main-nav a:hover::after {
  width: 100%;
} .main-nav > ul > li > a span {
  display: flex;
  color: var(--priCol);
  margin-top: 5px;
  font-size: 22px;
} .nav-drop {
  position: absolute;
  z-index: -1;
  display: flex;
  gap: 6em;
  opacity: 0;
  top: 4.1em;
  background-color: white;
  box-shadow: 5px 10px 25px rgba(0,0,0,.2);
  padding: 20px;
  transition: all .2s ease-in-out;
  border-radius: 15px;
}.drop-cont:hover .nav-drop {
  opacity: 1;
  z-index: 10;
} .nav-drop ul {
  padding: 1em;
  width: 10em;
  display: flex;
  flex-direction: column;
} .nav-drop ul li {
  list-style: disc;
}.li-head {
  list-style-type: none !important;
  font-size: 20px;
  color: var(--priCol);
  margin-left: -1em;
}.nav-drop li::marker {
  color: var(--priCol);
}


/*============== Banner ==================== */
.banner-cont {
  width: 100%;
  height: 25em;
  background-image: url('banner.webp');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -46em;
  background-size: cover;
  overflow: hidden;
}
 /* .banner-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */